
/* GENERAL INSTRUCTION */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#nome-password {
    color: red;
}

#cognome-password {
    color: green;
}

#colore-password {
    color: blue;
}

#anno-password {
    color: pink;
}
