
/* GENERAL INSTRUCTION */

body {
    background-color: #2d6cdf;
    font-family: 'Rubik', sans-serif;
}

#nome-password {
    color: red;
}

#cognome-password {
    color: green;
}

#colore-password {
    color: blue;
}

#anno-password {
    color: pink;
}

.row {
    height: 100vh;
}

img {
    max-height: 600px;
    position: relative;
}

h3 {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
}

.riquadro  {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 12px;
    min-height: 18%;
}

@media all and (max-width: 767px) {
    h3 {
        font-size: 12px;
    }
    .riquadro {
        border-radius: 6px;
    }
}
